
#principal
  background-color: white
  .container
    border-radius: 10px
    padding-top: 100px
    .row
      .elem
        border-radius: 10px
        border: 1px solid #c1c1c1
        background-color: #EEEEEE
        p
          font-weight: bold
    .btnAdd
      border-radius: 10px
      text-decoration: none
      transition: 0.5s
      background-color: #e31836
      color: white
    .btnAdd:focus
      box-shadow: 10 0 0 0px
    .btnAdd:hover
      transform: scale(1.2)
      cursor: pointer
      color: white
    .btnShow
      border-radius: 10px
      text-decoration: none
      transition: 0.5s
      background-color: blue
p
  font-weight: bold
