
#principal
  background-color: white
  .container
    border-radius: 10px
    padding-top: 100px
    .btnIcon
      background-color: white
      border: none
      margin-left: 80%
      .icon
        width: 50px
        height: 50px
    .row
      .elem
        border-radius: 10px
        border-bottom: 1px solid grey
        background-color: #C9FC88
        padding-bottom: 10px
        padding-top: 10px
        p
          font-weight: bold
    .btnAdd
      border-radius: 10px
      text-decoration: none
      transition: 0.5s
      background-color: #e31836
      color: white
    .btnAdd:focus
      box-shadow: 10 0 0 0px
    .btnAdd:hover
      transform: scale(1.2)
      cursor: pointer
      color: white
    .btnShow
      border-radius: 10px
      text-decoration: none
      transition: 0.5s
      background-color: blue
p
  font-weight: bold
.images
  max-width: 100%
  height: 150px
.imagesM
  max-width: 80%
  height: 100px
