
.Header
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3)
  margin: 0
  top: 0
  padding: 0%
  position: fixed
  max-height: 100px
  min-height: 80px
  width: 100%
  background-color: #000000
  z-index: 999
  .container
    padding-top: 18px

.logo
  height: 70px
  width: 80px
  margin-right: 360px
  margin-bottom: 30px
